* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main {
  margin: 0;
}

/************************HERO**************************/

.index_hero {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr auto;
  gap: 2px;
  position: relative;
  background-image: url(https://cdn.dummyjson.com/recipe-images/3.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90dvh;
  margin-bottom: 5vh;
}

.index_hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

#hero_box1 {
  position: relative;
  grid-column: span 6;
  grid-row: 2/3;
  z-index: 2;
}

#hero_box2 {
  position: relative;
  grid-column: 2/6;
  grid-row: 3/4;
  z-index: 1;
}

#hero_button {
  grid-column: 5/6;
  grid-row: 4/5;
  z-index: 1;
}

#header_box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}

#header_box1 img {
  max-height: 140px;
  max-width: fit-content;
}

#header_box2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.index_hero h1 {
  font-size: 10dvw;
  color: white;
  /* text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8); */

  margin: 0;
}

.hero-btn {
  display: flex;
  align-items: center;
  background-color: #f8f6f0;
  padding: 10px 14px;
  border: 13px solid #98e1c4;
}

#hero_button a {
  text-decoration: none;
  text-align: center;
  color: var(--dark);
  font-family: "Anonymous Pro", serif;
  font-size: 35px;
}

.hero-btn:hover {
  transform: translateY(-3px);
}

.index_hero h2 {
  font-size: 50px;
  color: var(--primary);
  margin: 0;
  /* text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8); */
}
@media screen and (max-width: 800px) {
  .index_hero {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    padding: 40px 0;
  }
  nav {
    background-color: var(--primary);
    border-radius: 2rem;
  }

  .hero-btn {
    padding: 12px 24px;
  }

  #hero_button a {
    font-size: 20px;
  }

  .index_hero h2 {
    font-size: 25px;
  }
}

/************************HERO**************************/

/************************TRENDING**************************/
.main_overview {
  margin: 0 5%;
}

.trending_div {
}
.grid2_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.MyContainer {
}

/************************RecipeCard**************************/

.recipeBox {
  position: relative;
  border-radius: 10px;
  background-color: #fff;
}

.recipeImg {
  overflow: hidden;
  height: 400px;
  border-radius: 10px;
}

.recipeInnerImg {
  scale: 1.8;
  transform: translate(0, 20%);
}

.time {
  position: absolute;
  background-color: #a5ebcf;
  top: 5%;
  left: 65%;
  border-radius: 50%;
  padding: 0rem;
  height: 85px;
  width: 85px;
  font-size: 115%;
  text-align: center;
  padding: 1.75rem 0 0 0;
}

.info {
  padding: 1rem;
}

.tags {
  margin-top: 0.4rem;
  opacity: 60%;
}

.star {
  aspect-ratio: 1/1;
  width: 30px;
}

.rating {
  font-size: 100%;
  padding: 0.5rem;
}

.serving {
  aspect-ratio: 1/1;
  width: 20px;
}

.servingsText {
  font-size: 100%;
  padding: 0.5rem;
}

.iconbox {
  margin: 1rem auto;
  margin-bottom: 0;
}

.recipeBoxName {
  font-size: 120%;
}

/************************Categori**************************/

.decorative-line {
  border: none;
  height: 0.17rem; /* Thickness of the line */
  background-color: #000;
  margin: 0.2rem 0; /* Space above and below the line */
  margin-bottom: 0.5rem;
  width: 200px;
}

.textcenter {
  text-align: center;
}

.flexcol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexcolv2 :last-child {
  margin: auto auto 1rem 1rem;
}

.flexrow {
  display: flex;
}

.grid_4_1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.grid_3_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid_1-1v2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mealType {
  width: 500px;
  margin: 0 auto;
  margin-top: 3rem;
}

.mealType a {
  text-decoration: none;
  color: var(--dark);
}

.categotyContainer {
  margin: 0 auto;
  margin-bottom: 5rem;
}

/************************CARDS**************************/

.decorative-line {
  border: none;
  height: 0.17rem; /* Thickness of the line */
  background-color: #000;
  margin: 0.2rem 0; /* Space above and below the line */
  margin-bottom: 0.5rem;
  width: 200px;
}

.textcenter {
  text-align: center;
}

.flexcol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexcolv2 :last-child {
  margin: auto auto 1rem 1rem;
}

.flexrow {
  display: flex;
}

.grid_4_1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* .grid_3_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
} */

.grid_1-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid_1-1v2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.box {
  background-color: #a5ebcf;
  height: 200px;
  width: 100px;
}

.mealType {
  margin: 0 auto;
  margin-top: 3rem;
}

.categotyContainer {
  margin: 0 auto;
  margin-bottom: 5rem;
}

.recipeBox {
  width: 290px;
  position: relative;
  border-radius: 10px;
  background-color: #fff;
}

.recipeImg {
  overflow: hidden;
  height: 400px;
  border-radius: 10px;
}

.recipeInnerImg {
  scale: 1.6;
  transform: translate(0, 10%);
}

.time {
  position: absolute;
  background-color: #a5ebcf;
  top: 5%;
  left: 68%;
  border-radius: 50%;
  padding: 1rem;
  height: 85px;
  width: 85px;
}

.info {
  padding: 1rem;
}

.tags {
  margin-top: 0.4rem;
  opacity: 60%;
}

.star {
  aspect-ratio: 1/1;
  width: 30px;
}

.rating {
  font-size: 110%;
  padding: 0.5rem;
}

.serving {
  aspect-ratio: 1/1;
  width: 20px;
}

.servingsText {
  font-size: 110%;
  padding: 0.5rem;
}

.iconbox {
  margin: 1rem auto;
  margin-bottom: 0;
}

.recipeBoxName {
  font-size: 120%;
}

@media screen and (max-width: 800px) {
  /************************CARDS**************************/
  .grid_1-1-1-1 {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .grid2_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

/************************25MIN**************************/

.min_div {
  margin: 10vh 0;
  height: fit-content;
  background-color: white;
  padding: 50px 30px;
}

.grid1_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  gap: 30px;
}

#box1-1 {
  grid-column: 1/2;
  grid-row: 1/3;
}

#box1-2 {
  grid-column: 1/2;
  grid-row: 3/7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#box1-2 a {
  text-decoration: none;
  color: var(--dark);
}

#box1-3 {
  grid-column: 2/3;
  grid-row: span 6;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.recipeImg1 {
  width: 90%;
  height: fit-content;
  overflow: hidden;
  border-radius: 100% / 70%;
}

.recipeImg1 img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.read_button {
  background-color: black;
  position: absolute;
  right: 50px;
  bottom: 25px;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  z-index: 1;
  overflow: hidden;
  transition: background-color 0.3s;
}

.read_button:hover {
  background-color: var(--primary);
}

.read_button a {
  text-decoration: none;
  color: white;
}

.read_button h3 {
  text-align: center;
  font-size: 1.3rem;
}

#box1-2 div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px var(--dark);
  transition: color 0.3s ease;
  transition: transform 0.3s ease;
}
#box1-2 div .pClass {
  font-size: 2rem;
}

#box1-2 div:hover {
  transform: scaleX(1.07);
  border-bottom: solid 3px var(--primary);
}

#box1-2 div:hover {
  color: var(--primary);
}

#box1-2 li {
  display: flex;
  width: 100%;
  border-bottom: solid 1px var(--dark);
}

#box1-1 h2 {
  font-family: "Plus Jakarta Sans", serif;
  font-size: 3vw;
  margin-bottom: 2vh;
  text-align: center;
}

@media screen and (max-width: 800px) {
  /************************CARDS**************************/
  .grid_1-1-1-1 {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .grid1_1-1 {
    display: flex;
    flex-direction: column;
  }

  #box1-1 h2 {
    font-size: 6vw;
  }

  .recipeImg1 {
    width: 100%;
    border-radius: 0;
  }

  .read_button {
    left: -19px;
    bottom: -14px;
    width: 8rem;
    height: 8rem;
  }

  .read_button h3 {
    font-size: 1rem;
  }

  #box1-2 div:hover {
    transform: scaleX(1.04);
  }
}
/************************25MIN**************************/

/************************Button**************************/

.buttonPos {
  position: absolute;
  top: 70%;
  left: 70%;
}
