* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #f8f6f0;
}

.decorative-line {
  border: none;
  height: 0.17rem; /* Thickness of the line */
  background-color: #000;
  margin: 0.2rem 0; /* Space above and below the line */
  margin-bottom: 0.5rem;
  width: 200px;
}

.textcenter {
  text-align: center;
}

.flexcol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexcolv2 :last-child {
  margin: auto auto 1rem 1rem;
}

.flexrow {
  display: flex;
}

.grid_4_1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.grid_3_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid_1-1v2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mealType {
  width: 500px;
  margin: 0 auto;
  margin-top: 3rem;
}

.mealType a {
  text-decoration: none;
  color: var(--dark);
}

.categotyContainer {
  margin: 0 auto;
  margin-bottom: 5rem;
}

.recipeBox {
  position: relative;
  border-radius: 10px;
  background-color: #fff;
}

.recipeImg {
  overflow: hidden;
  height: 400px;
  border-radius: 10px;
}

.recipeInnerImg {
  scale: 1.8;
  transform: translate(0, 20%);
}

.time {
  position: absolute;
  background-color: #a5ebcf;
  top: 5%;
  left: 65%;
  border-radius: 50%;
  padding: 0rem;
  height: 85px;
  width: 85px;
  font-size: 115%;
  text-align: center;
  padding: 1.75rem 0 0 0;
}

.info {
  padding: 1rem;
}

.tags {
  margin-top: 0.4rem;
  opacity: 60%;
}

.star {
  aspect-ratio: 1/1;
  width: 30px;
}

.rating {
  font-size: 100%;
  padding: 0.5rem;
}

.serving {
  aspect-ratio: 1/1;
  width: 20px;
}

.servingsText {
  font-size: 100%;
  padding: 0.5rem;
}

.iconbox {
  margin: 1rem auto;
  margin-bottom: 0;
}

.recipeBoxName {
  font-size: 120%;
}
