* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

main {
  margin: 0;
}

body {
  margin: 0;
}

.main_overview {
  margin: 0 5%;
  background-color: #f8f6f0;
  padding: 2rem;
}

/***************************** Grid *****************************/

@media (min-width: 800px) {
  .product_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 800px) {
  .product_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

/***************************** Typografi *****************************/

h1 {
  font-size: 6.5dvh;
}
h4 {
  margin-right: 10px;
}

p {
  font-size: small;
}

.box2_b3 p {
  font-family: "Anonymous Pro", serif;
  font-style: italic;
  line-height: 10px;
}

/***************************** Billede boks *****************************/
.box1 {
  background-color: white;
  color: black;
}

/***************************** Højre grid *****************************/
.box2 {
  position: relative;
}

/***************************** Grøn boks *****************************/
@media (min-width: 800px) {
  .box2_1 {
    background-color: #98e1c4;
    color: black;
    padding: 20px;
    line-height: 0;
  }
}
@media (max-width: 800px) {
  .box2_1 {
    background-color: #98e1c4;
    color: black;
    padding: 20px;
    line-height: 1;
  }
}

.box2_1 li {
  list-style: none;
  display: flex;
  align-items: center; /* Sørger for vertikal justering */
}

.tags-container {
  display: flex;
  align-items: center;
  gap: 5px; /* Lidt afstand mellem # og tags */
  font-family: "Anonymous Pro", serif;
  font-size: small;
}

.tags-container h4 {
  font-weight: bold;
}

.tags-container p {
  font-weight: normal;
  margin: 0;
}

/***************************** Hvid boks *****************************/

.box2_2 {
  background-color: white;
  color: black;
  padding: 20px;
}

/***************************** Ingredientlist *****************************/
.box2_b4 li {
  list-style: decimal;
  font-family: "Inter", serif;
}

.box2_b4 h3 {
  text-align: center;
  justify-items: center;
  font-size: x-large;
}

/***************************** BOBLER*****************************/

@media (min-width: 800px) {
  .box2_b1 {
    background-color: var(--primary);
    border-radius: 100%;
    height: 120px;
    width: 120px;
    position: absolute;
    text-align: center;
    justify-items: center;
    right: 5px;
    font-size: 1.1dvw;
    transform: translateY(0%);
  }

  .box2_b2 {
    background-color: var(--primary);
    border-radius: 100%;
    height: 85px;
    width: 85px;
    position: absolute;
    text-align: center;
    justify-items: center;
    right: 110px;
    transform: translateY(120%);
    font-size: 0.7dvw;
    padding: 10px;
  }
}

@media (max-width: 800px) {
  .box2_b1 {
    background-color: var(--primary);
    border-radius: 100%;
    height: 85px;
    width: 85px;
    position: absolute;
    text-align: center;
    justify-items: center;
    right: 5px;
    font-size: 2.5dvw;
    transform: translateY(0%);
  }

  .box2_b2 {
    background-color: var(--primary);
    border-radius: 100%;
    height: 47px;
    width: 47px;
    position: absolute;
    text-align: center;
    justify-items: center;
    right: 85px;
    transform: translateY(120%);
    font-size: 1dvw;
    padding: 10px;
  }
}

/***************************** HERO BANNER *****************************/

.index_hero {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr auto;
  gap: 2px;
  position: relative;
  background-color: #98e1c4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 35dvh;
  margin-bottom: 5vh;
}

.index_hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#header_box1 img {
  max-height: 140px;
  max-width: fit-content;
}

#hero_box1 {
  position: relative;
  grid-column: span 6;
  grid-row: 2/3;
  z-index: 2;
}

#hero_box2 {
  position: relative;
  grid-column: 2/6;
  grid-row: 3/4;
  z-index: 1;
}

#header_box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}

#header_box2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.index_hero h1 {
  font-size: 5dvw;
  color: var(--dark);
  /* text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8); */
  margin: 0 0;
}

.index_hero h2 {
  font-size: 2dvw;
  color: var(--secondary);
  margin: 0;
  /* text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8); */
}
@media screen and (max-width: 800px) {
  .index_hero {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    padding: 40px 0;
  }
  nav {
    background-color: var(--primary);
    border-radius: 2rem;
  }

  .index_hero h1 {
    font-size: 7dvw;
    color: var(--primary);
    margin: 0 0;
  }

  .index_hero h2 {
    font-size: 4dvw;
  }
}
